body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: hsl(330deg 7% 94%);
}

nav {
    width: 100%;
    height: 55px;
    font-family: Arial;
    font-weight: 700;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background: hsl(330deg 7% 94%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: calc(1.2rem + 1vw);
}

.search_bar {
    width: 80%;
    margin: 0 auto;
    padding: 10px 15px;
    background: #fff;
    border-radius: 15px;
    font-size: calc(1.2rem + 1vw);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search_bar input {
    border: none;
    outline: none;
    background: transparent;
    padding: 10px 15px;
    font-size: 19px;
    font-weight: 700;
    font-family: Arial;
    width: 80%;
}

.search_bar ion-icon {
    font-size: 1.2em;
}

main {
    width: 90%;
    margin: 0 auto;
}

main strong {
    font-weight: 900;
    font-size: 2em;
    font-family: sans-serif;
}

.img_area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.img_area .row_one,
.img_area .row_two {
    margin: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    place-items: center;
}

.img_area img {
    width: 100%;
    border-radius: 15px;
}

.preview {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(100vw, 0);
    height: 100vh;
    width: 100vw;
    z-index: 11;
    transition: 0.5s;
    backdrop-filter: blur(1em);
}

body.active {
    overflow: hidden;
}

.preview.active {
    transform: translate(0, 0);
}

.preview .preview_cont {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview .preview_cont .notch {
    height: 25vh;
    width: 10px;
    border-radius: 15px;
    background: grey;
    margin-left: 10px;
}

.preview .preview_cont .bx {
    height: 100vh;
    width: 90%;
    background: hsl(0deg 6% 91%);
    border-radius: 1em 0 0 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.preview .preview_cont .bx img {
    width: 80%;
    height: 90vh;
    object-fit: contain;
}

.preview .preview_cont .bx .buttons {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.preview .preview_cont .bx .buttons button {
    width: 30%;
    height: 50px;
    border: none;
    outline: none;
    font-family: Arial;
    font-weight: 700;
    font-size: 15px;
    border-radius: 15px;
}

.preview .preview_cont .bx .buttons button:nth-child(1) {
    border: 1px solid #000;
}

.preview .preview_cont .bx .buttons button:nth-child(2) {
    background: #000;
    color: #fff;
}

.notifi-box {
	width: 300px;
	height: 0px;
	opacity: 1;
	position: absolute;
	top: 63px;
	right: 35px;
	transition: 1s opacity, 250ms height;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.notifi-box h2 {
	font-size: 14px;
	padding: 10px;
	border-bottom: 1px solid #eee;
	color: #999;
}
.notifi-box h2 span {
	color: #f00;
}
.notifi-box #links {
    display: none;
  }
.notifi-item {
	display: flex;
	border-bottom: 1px solid #eee;
	padding: 15px 5px;
	margin-bottom: 15px;
	cursor: pointer;
}
.notifi-item:hover {
	background-color: #eee;
}
.notifi-item img {
	display: block;
	width: 50px;
	margin-right: 10px;
	border-radius: 50%;
}
.notifi-item .text h4 {
	color: #777;
	font-size: 16px;
	margin-top: 10px;
}
.notifi-item .text p {
	color: #aaa;
	font-size: 12px;
}
.icon {
	cursor: pointer;
	margin-right: 40px;
	line-height: 50px;
}
.icon span {
	background: #f00;
	padding: 7px;
	border-radius: 50%;
	color: #fff;
	vertical-align: top;
	margin-left: -25px;
}
.icon img {
	display: inline-block;
	width: 30px;
	margin-top: 10px;
}
.icon:hover {
	opacity: 1;
}
